<div class="ui placeholder segment">
  <div class="ui centered grid">
    <div class="column">
			<%= form_with model: @user, url: register_path do |f| %>
        <div class="field">
          <div class="ui left icon input">
            <%= f.text_field :last_name, autofocus: true, placeholder: "Last name" %>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <%= f.text_field :first_name, autofocus: true, placeholder: "First name" %>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <%= f.telephone_field :phone, autofocus: true, placeholder: "Phone" %>
            <i class="phone icon"></i>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
            <i class="box icon"></i>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <%= f.password_field :password, autofocus: true, placeholder: "Password" %>
            <i class="lock icon"></i>
          </div>
        </div>
				<%= f.submit 'Register', class: "ui blue submit button" %>
			<% end %>
    </div>
  </div>
</div>